# 03-spring-config.yaml (SYNTAXE DE PROPRIÉTÉ SPRING)
# ConfigMap : Contient les informations de connexion non sensibles
apiVersion: v1
kind: ConfigMap
metadata:
  name: student-config
data:
  # Utilise le service Kubernetes 'mysql-service'
  SPRING_DATASOURCE_URL: jdbc:mysql://mysql-service:3306/studentdb?createDatabaseIfNotExist=true
  SPRING_DATASOURCE_USERNAME: root
  # Configuration serveur de votre application (Port 8089 et Context Path)
  SERVER_PORT: "8089"
  SERVER_SERVLET_CONTEXT_PATH: "/student"

  # NOUVEAU : Configuration Actuator pour Prometheus (FORMAT CORRIGÉ)
  # Ces noms correspondent directement aux clés dans application.properties
  management.endpoints.web.exposure.include: health,prometheus
  management.endpoint.health.show-details: always
  management.server.port: "8089" # Actuator sur le même port que le serveur
---
# Secret : Contient les informations sensibles (le mot de passe root)
# ... (Le Secret reste inchangé)
apiVersion: v1
kind: Secret
metadata:
  name: mysql-pass-secret
type: Opaque
data:
  SPRING_DATASOURCE_PASSWORD: cm9vdDEyMw==
