apiVersion: apps/v1
kind: Deployment
metadata:
  name: nexus-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      containers:
        - name: nexus
          image: sonatype/nexus3:latest
          ports:
            - containerPort: 8081

          env:
            - name: INSTALL4J_ADD_VM_PARAMS
              value: "-Xms512m -Xmx512m"

          volumeMounts:
            - name: nexus-data
              mountPath: /nexus-data

          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "2000m"

      volumes:
        - name: nexus-data
          persistentVolumeClaim:
            claimName: nexus-data-pvc
