apiVersion: apps/v1
kind: Deployment
metadata:
  name: nexus-deployment
  namespace: devops
  labels:
    app: nexus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      containers:
        - name: nexus
          image: sonatype/nexus3:latest
          ports:
            - containerPort: 8081
          volumeMounts:
          # ... (votre mountPath)
          env: # <--- NOUVELLE SECTION CLÉ
            - name: INSTALL4J_ADD_VM_PARAMS
              value: "-Xms512m -Xmx512m" # Force la JVM à 512 Mo
          resources:
            requests:
              memory: "512Mi" # Demande 512 Mo
              cpu: "500m"
            limits:
              memory: "1Gi"   # Limite maximale 1 Go
              cpu: "1000m"
            limits:
              memory: "2Gi"
              cpu: "2000m"

      volumes:
        - name: nexus-persistent-storage
          persistentVolumeClaim:
            # Référence la demande de volume que nous avons créée à l'étape 1
            claimName: nexus-data-pvc
