apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]

      - job_name: "jenkins"
        metrics_path: "/prometheus"
        static_configs:
          - targets: ["172.30.12.45:8080"]
      
      # JOB CORRIGÉ : gestion-etudiante
      - job_name: "gestion-etudiante"
        metrics_path: "/student/actuator/prometheus" # CORRECTION : Chemin Actuator avec Context Path
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names: [ devops ]
        relabel_configs:
          
          # Étape 1 : Cible le nom du Service 
          - source_labels: [ __meta_kubernetes_service_name ]
            regex: student-service
            action: keep
          
          # Étape 2 : Remplacer l'adresse avec le port 8089 (Règle plus robuste)
          - source_labels: [ __address__ ]
            target_label: __address__
            regex: (.+):.* # Capture la partie adresse (avant le dernier ':'), ignorera le port par défaut (8080)
            replacement: $1:8089 # Force l'utilisation du port 8089
            action: replace
