# prometheus-configmap.yaml (Mise à jour et CORRIGÉ)
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]

      - job_name: "jenkins"
        metrics_path: "/prometheus"
        static_configs:
          - targets: ["172.30.12.45:8080"]

      # NOUVEAU JOB POUR L'APPLICATION SPRING BOOT
      - job_name: "gestion-etudiante" # <--- Nom du job utilisé dans le pipeline
        metrics_path: "/actuator/prometheus" # <--- Endpoint Actuator
        kubernetes_sd_configs:
          - role: service # On cible le Service Kubernetes
        relabel_configs:
          # CORRECTION 1 : Cible le service nommé 'student-service' (Nom réel dans 04-spring-deployment.yaml)
          - source_labels: [__meta_kubernetes_service_name]
            regex: student-service # <--- CORRIGÉ : utilise le nom du service K8s
            action: keep
          # CORRECTION 2 : Utilise le port réel de l'application (8089)
          - source_labels: [__address__]
            target_label: __address__
            regex: (.+):(\d+)
            replacement: $1:8089 # <--- CORRIGÉ : utilise le port 8089
            action: replace
