# prometheus-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  labels:
    app: prometheus
spec:
  selector:
    app: prometheus
  type: NodePort # Permet d'accéder via une adresse IP externe:NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30000 # Port NodePort par défaut (choisir un port > 30000)